
/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #292B2F;
}

li {
  list-style: none;
}

ul {
  padding: 0;
  margin: 0;
}


/* ---- typography ---- */

body {
  color: #111;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 147%;
}

p {
  margin: 0;
}



/* ---- layout ---- */

#site-header {
  padding: 0;
  color: white;
}

#site-footer {
  margin-bottom: 100px;
  text-decoration: underline;
  font-size: 12px;
}

#site-main {
  margin-bottom: 60px;
}

.container {
  margin: 0 20px;
}

.section {
  margin-bottom: 20px;
  padding-top: 20px;
}

@media (min-width: 768px) {
  .container {
    max-width: 728px;
    margin: 0 auto;
  }
}




/* ---- components ---- */


.logo{
  padding-top: 20px;
  height: 70px;
}

/* ---- section ---- */
.header{
  background-image: url("./images/guy-kawasaki-668861-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.header h2{
  font-size: 30px;
  padding: 110px 0 10px 0;
  text-transform: uppercase;
  margin: 20px 0; 
  line-height: 40px;
  font-weight: bolder;
  text-shadow: 1px 1px 8px black;
}

section.storytelling {
  text-align: left;
  margin-bottom: 20px;
}

.storytelling li {
  list-style: circle;
}

article {
  margin-bottom: 20px;
}

.products h3 {
  color: #4A90E2;
  font-size: 20px;
}

.products .image  {
  height: 124px;
}

section.testimonials {
  margin-bottom: 10px;
  background: linear-gradient(to right, #0075F2, #16F2F9); 
  width: 100%;
  margin: 0;
  margin-bottom: 20px;
  color: white;
  padding-bottom: 10px;
}

.testimonials img {
  padding-top: 10px;
  height: 80px;
  border-radius: 100px;
}

.form {
  display: flex;
  background: linear-gradient(to right, #0075F2, #16F2F9); 
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  justify-content: center;
}

form input {
  font-size: 16px;
  display: inline-block;
  padding: 10px;
  margin: 5px 0 5px 5px;
  text-align: left;
}

form .button  {
  font-size: 16px;
  color: white;
  background: orangered;
  text-transform: uppercase;
  margin: 5px 5px 5px 0;
}
